[Unit]
Description=Run battery charge hysteresis threshold check

[Timer]
OnBootSec=30s
OnUnitActiveSec=20min
AccuracySec=5min
Persistent=true
Unit=battery-charge-hysteresis.service

[Install]
WantedBy=timers.target
