#battery,
#custom-sys-battery {
  color: #9aa3af;
}

#battery.charging,
#custom-sys-battery.charging {
  color: #9aa3af;
}

#battery.warning,
#custom-sys-battery.warning {
  color: #9aa3af;
}

#battery.critical,
#custom-sys-battery.critical {
  color: #9aa3af;
}
