[Unit]
Description=Run battery charge threshold probe

[Timer]
OnBootSec=30s
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true
Unit=battery-charge-probe.service

[Install]
WantedBy=timers.target
