#battery,
#custom-sys-battery {
  color: #c7c7cc;
}

#battery.charging,
#custom-sys-battery.charging {
  color: #c7c7cc;
}

#battery.warning,
#custom-sys-battery.warning {
  color: #c7c7cc;
}

#battery.critical,
#custom-sys-battery.critical {
  color: #c7c7cc;
}
